<h2>My Events</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Name</td>
                <td>@e.Location</td>
                <td>@e.Date</td>
                <td>@e.Distance</td>
            </tr>
        }
    </tbody>
</table>

<h2>Create event</h2>
<form asp-action="CreateEvent" asp-controller="Event" method="post" class="my-form">
    <div class="form-group">
        <label for="name">Event Name:</label>
        <input type="text" id="name" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" name="Location" class="form-control" />
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" name="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label for="distance">Distance:</label>
        <input type="text" id="distance" name="Distance" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create Event</button>
</form>

<h2>Register runner's time</h2>
<form asp-action="CreateResult" asp-controller="Result" method="post" class="my-form">
    <div class="form-group">
        <label for="athleteFirstName">User's first name:</label>
        <input type="text" id="athleteFirstName" name="athleteFirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="athleteLastName">User's last name:</label>
        <input type="text" id="athleteLastName" name="athleteLastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName2" name="EventName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="time">Time:</label>
        <input type="time" id="time" name="Time" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Register Time</button>
</form>

<h2>Upload Results</h2>
<form asp-action="UploadResults" asp-controller="Result" method="post" enctype="multipart/form-data" class="my-form">
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName" name="EventName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="csvFile">Upload CSV:</label>
        <input type="file" id="csvFile" name="CsvFile" class="form-control" accept=".csv" required />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>