@{
    ViewData["Title"] = "Home Page";
}


@if (ViewBag.ErrorMessage != null)
{
<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<div class="text-center">
    <h1 class="display-1">Welcome to RunningApp</h1>
    <p class="lead">This is a simple application to track your running results.</p>
</div>
